<div class="container">
  <h1><%= @cocktail.name %></h1>
  <h2>Ingredients</h2>

  <% @cocktail.doses.each do |dose| %>
  <strong><p><%= dose.ingredient.name %></p></strong>
  <p><%= dose.description %></p>
  <%= link_to "Delete the dose", dose_path(dose), method: :delete %>
  <% end %>


  <div>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), {class: "btn btn-primary"} %>
  </div>

</div>

